div.main {
  display: -webkit-flex;
  display: flex;
  -webkit-flex: 1;
  flex: 1;
  padding: 0 15px 15px;
}

.email-div {
  display: -webkit-flex;
  display: flex;

  -webkit-flex-direction: column;
  flex-direction: column;

  position: relative;
  -webkit-flex: 1;
  flex: 1;

  > .actions {
    border-top: 1px solid #9aae9a;
    padding-top: 10px;
    text-align: right;
  }
}

div.main-header {
  position: relative;
  border-bottom: 1px solid #9aae9a;
  margin-bottom: 10px;
  min-height: 57px;

  .operation {
    position: absolute;
    right: 0;
    bottom: 10px;

    a {
      padding-left: 18px;
      padding-right: 18px;
    }
  }
}