@import "variable";
header {
  height: 60px;
  min-height: 60px;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: row;
  flex-direction: row;
  background-color: $header-background-color;

  div.header-title {
    display: -webkit-flex;
    display: flex;

    -webkit-flex: 1;
    flex: 1;
    -webkit-align-items: center; // fix on safari
    align-items: center;
    justify-content: center;
    -webkit-justify-content: center;// fix on safari

    margin: 12px 0;
  
    > h3 {
      font-family: "Times New Roman", "游明朝", YuMincho, "Hiragino Mincho ProN", Meiryo, serif;
      color: #FFF;
      margin: 0;

      > i {
        color: red;
      }
    }
  }
  
  .user-space {
    width: 400px;
    text-align: right;
    line-height: 60px;
    padding-right: 15px;

    > a:first-child {
      margin: 0 5px;
      color: #fff;
      text-decoration: none;
    }
  }
}
